*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: auto;
	width: 70%;
	background-color: white;
}

.container {
	width: 1200px;
	margin: 2rem auto;
}

.image_1,
.image_2 {
	width: 100%;
}

.item {
	width: 33%;
	padding-right: 0.25rem;
	margin-bottom: 0.5rem;
}

.object > .image {
	position: relative;
}

.heart {
	position: absolute;
	top: 1rem;
	right: 0;
	background-color: white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5rem;
}


.discount,
.sustainability {
	display: inline-block;
	padding: 0.5rem;
    
}

.discount {
    position: absolute;
    color: white;
	background-color: #eb0037;
    display: inline-block;
    bottom: 60px;
}

.sustainability {
    color: white;
	background-color: #00875a;
    display: inline-block;
    position: absolute;
    bottom: 60px;
    left: 55px;
}

.image_2 {
	display: none;
}
.object:hover {
	cursor: pointer;
}

.object:hover .image_1 {
	display: none;
}

.object:hover .image_2 {
	display: inline-block;
}
